.event-form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
  margin-inline: auto;
  position: relative;

  input[type="text"] {
    border-radius: 0;
    padding: var(--space-xs) var(--space-s-m);
    flex-grow: 999;
    border: none;
    transition: outline-offset 0.2s ease-out;
    color: var(--color-black);
    flex-basis: 32ch;

    &:focus {
      outline: 1px solid var(--color-blue-600);
      outline-offset: 5px;
    }
  }

  input[type="submit"] {
    border-radius: 0;
    -webkit-appearance: none;
    flex-basis: max-content;
    flex-grow: 1;
    padding: var(--space-xs) var(--space-m);
    color: var(--color-blue-600);
    cursor: pointer;
    border: 1px solid var(--color-blue-600);
    background-color: var(--color-black);
    background-image: linear-gradient(
      var(--color-blue-600),
      var(--color-blue-600)
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-out, outline-offset 0.2s ease-out;

    &:hover {
      background-size: 100% 100%;
      color: var(--color-black);
    }

    &:focus-visible {
      outline: 1px solid var(--color-blue-600);
      outline-offset: 5px;
    }
  }
}

.event-form__inputgroup {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 999;
  background: var(--color-white);
  border: 1px solid var(--color-blue-600);
  flex-basis: 27rem;

  & label {
    padding: var(--space-xs) var(--space-s-m);
    border: none;
    color: var(--color-black);
    background: var(--color-blue-600);
    cursor: pointer;
    flex-basis: max-content;
    flex-grow: 1;
    text-align: left;
  }
}

.event-form__checkbox {
  position: absolute;
  top: calc(100% + var(--space-m));

  & input {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 0.2rem;
    left: 0;
    padding: 0;
    border: 0;
    z-index: 1;
    margin: 0;
    cursor: pointer;
    opacity: 0;

    &:checked + label::before {
      background: var(--color-blue-600);
    }
  }

  label {
    padding-left: 1.5em;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1.25rem;
      height: 1.25rem;
      left: 0;
      top: 0.2rem;
      border: 1px solid var(--color-blue-600);
    }
  }
}
