.site-head {
  position: relative;
  padding-block: var(--space-s-m);
  z-index: 999;
  position: unset;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  top: 0;

  @media (scripting: enabled) {
    position: fixed;
    flex-direction: row;

    .site-head__brand {
      margin-bottom: 0;
    }
  }

  @media (--md) {
    justify-content: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg, #0a101c 0%, rgba(10, 16, 28, 0) 100%);
    pointer-events: none;
  }
}

.site-head__brand {
  z-index: 1000;
  padding-inline: var(--space-m);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transform-origin: left center;
  transform: scale(0.85);
  transition: 0.5s ease;
  margin-bottom: var(--space-s-m);

  @media (--md) {
    transform: scale(1);
  }

  .diamond {
    width: 54px;
    height: 63px;
  }

  .wordmark svg {
    transition: 1s ease;
  }

  &:hover {
    .diamond svg {
      animation: rotateDiamond 1s ease-out;
    }

    .wordmark svg {
      animation: shinyWordmark 1s ease-out;
    }
  }

  &.hide {
    opacity: 0;
    transform: translateY(-80%);
    transition: 0.3s ease;
    transform: translateY(-80%) scale(0.7);

    @media (--md) {
      transform: translateY(-80%) scale(1);
    }
  }
}

.site-head__menu-label {
  z-index: 1000;
  opacity: 0;
  position: absolute;
  background-color: var(--color-black);
  padding: var(--space-2xs) var(--space-m);
  top: 0;
  transform: translateY(-80%);
  transition: 0.3s ease;
  left: max(var(--space-m), (100% - 60rem) / 2);

  @media (--md) {
    left: unset;
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
    transition: 0.3s ease 0.2s;
  }
}

@keyframes rotateDiamond {
  0% {
    transform: none;
  }
  60% {
    transform: scale(0.5) rotate(90deg);
  }
  70% {
    transform: scale(0.5) rotate(90deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes shinyWordmark {
  0% {
    transform: none;
  }
  60% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
