footer {
  margin-block: var(--space-xl-2xl) var(--space-l);

  .site-foot__social {
    svg {
      max-width: 3.5rem;
      height: auto;
    }

    path {
      fill: none;
    }
  }

  .site-foot__nav {
    --cluster-justification: center;
    --cluster-gap: var(--space-3xs-2xs);
    flex-direction: row;
    align-items: center;

    @media (--md) {
      --cluster-gap: var(--space-m-l);
    }

    @media (max-width: 34em) {
      --cluster-gap: 0;
    }

    li {
      a {
        text-decoration: none;
        padding: var(--space-xs);
        transition: 0.25s ease;

        &:hover {
          color: var(--color-blue-600);
        }

        @media (max-width: 34em) {
          font-size: 1rem;
        }

        @media (max-width: 28em) {
          padding: var(--space-3xs);
        }
      }
    }

    & * + * {
      &::before {
        content: "|";
        margin-right: var(--space-3xs-2xs);
        display: inline;

        @media (--md) {
          margin-right: var(--space-m-l);
        }

        @media (max-width: 34em) {
          margin-right: 0;
        }
      }
    }
  }
}
