.pink-img-overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-pink);
    opacity: 0.6;
    mix-blend-mode: soft-light;
    inset: 0;
  }

  img {
    width: 100%;
  }
}
