/*
Example Syntax
--------------
<details class="acc-list">
  <summary class="uppercase text-step-2 leading-flat">Headline</summary>
  <ul class="bg-blue-200 color-black" role="list">
    <li>…</li>
    <li>…</li>
  </ul>
</details>
*/

.acc-list {
  border: 2px solid var(--color-blue-600);
  //border-image: linear-gradient(var(--color-white), var(--color-blue-600)) 1;
  background: var(--color-black);
  position: relative;

  &::before,
  &::after {
    content: "";
    background-color: var(--color-blue-600);
    position: absolute;
  }

  &::before {
    width: var(--space-l-xl);
    height: 2px;
    bottom: calc(100% + var(--space-l-xl) / 2 + 1.5rem);
    transition: all 0.2s;
  }

  &::after {
    height: var(--space-l-xl);
    width: 2px;
    bottom: calc(100% + 1.5rem);
    left: calc(var(--space-l-xl) / 2);
    transition: all 0.2s;
  }

  summary {
    list-style: none;
    padding-inline: var(--space-m-l);
    padding-block-start: var(--space-s-m);
    min-height: 4em;
    cursor: pointer;

    &:hover {
      background: var(--color-blue-600);
    }

    &:focus-visible {
      outline: 2px dashed var(--color-white);
      outline-offset: 5px;
    }
  }

  dl {
    padding-inline: var(--space-m-l);
    padding-block-end: var(--space-xs);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    dt,
    dd {
      p {
        padding-block: var(--space-s);
        max-width: 50ch;
      }
    }

    dt {
      flex-basis: 14rem;

      &::before {
        content: "";
        width: calc(100% - var(--space-m-l) * 2);
        height: 2px;
        background-color: var(--color-black);
        position: absolute;
      }
    }

    dd {
      flex-basis: 70%;
    }
  }

  &[open] {
    //border: 1px solid var(--color-blue);
    color: var(--color-black);

    summary {
      background: var(--color-blue-600);
    }

    &::before,
    &::after{
      rotate: 45deg;
    }
  }
}
