/*
Example Syntax
--------------
<details class="acc-list">
  <summary class="uppercase text-step-2 leading-flat">Headline</summary>
  <ul class="bg-blue-200 color-black" role="list">
    <li>…</li>
    <li>…</li>
  </ul>
</details>
*/

.acc-list {
  border: 1px solid;
  border-image: linear-gradient(var(--color-white), var(--color-blue)) 1;
  background: var(--color-black);

  summary {
    list-style: none;
    padding: var(--space-s);
    min-height: 4em;
    cursor: pointer;

    &:hover {
      background: var(--color-blue-600);
    }

    &:focus-visible {
      outline: 2px dashed var(--color-white);
      outline-offset: 5px;
    }
  }

  ul {
    padding: var(--space-s);

    li {
      padding-block: var(--space-3xs);
      border-block-start: 2px solid currentColor;
    }
  }

  &[open] {
    //border: 1px solid var(--color-blue);

    summary {
      background: var(--color-blue-600);
    }
  }
}
