/*
Example Syntax
--------------
<details class="acc-list">
  <summary class="uppercase text-step-2 leading-flat">Headline</summary>
  <ul class="bg-blue-200 color-black" role="list">
    <li>…</li>
    <li>…</li>
  </ul>
</details>
*/

.acc-list {
  border: 2px solid var(--color-blue-600);
  //border-image: linear-gradient(var(--color-white), var(--color-blue-600)) 1;
  background: var(--color-black);
  position: relative;

  summary {
    list-style: none;
    padding-inline: var(--space-m-l);
    padding-block-start: var(--space-s-m);
    min-height: 4em;
    cursor: pointer;
    background: linear-gradient(var(--color-blue-600),var(--color-blue-600));
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;

    &:hover {
      background-size: 100% 100%;
      color: var(--color-black);
    }

    &:focus-visible {
      outline: 2px dashed var(--color-white);
      outline-offset: 5px;
    }

    &::before{
      --icon-size: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 71 71'%3E%3Cpath stroke='%230092FF' stroke-width='2' d='M36.5 0v71M71 36.5H0'/%3E%3C/svg%3E");
      width: var(--icon-size);
      height: var(--icon-size);
      background-size: 71px 71px;
      background-position: center center;
      left: 0;
      top: calc((var(--icon-size) + var(--space-s)) * -1);
      transition: 0.2s;
    }
  }

  dl {
    padding-inline: var(--space-m-l);
    padding-block-end: var(--space-s-m);
  }

  &__item{
    padding-block: var(--space-s);
    border-block-start: 1px solid var(--color-black);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    justify-content: space-between;
    position: relative;

    dt {
      flex-basis: 14rem;
    }

    dd {
      flex-basis: 100%;
    }

    @media only screen and (min-width: 59.5em) {
      dd {
        flex-basis: 70%;
      }
    }
  }

  &[open] {
    color: var(--color-black);

    summary {
      background-size: 100% 100%;

      &::before{
        rotate: 45deg;
      }
    }
  }
}
