.button {
  @include apply-utility("weight", "light");
  @include apply-utility("leading", "flat");
  text-decoration: none;
  display: inline-block;
  font-size: var(--text-step-0);
  color: var(--color-blue);
  background: var(--color-black);
  border: 1px solid var(--color-blue);
  padding-inline: var(--space-m);
  padding-block: var(--space-xs);
  text-transform: uppercase;

  &:hover {
    background: var(--color-white);
    color: var(--color-black);
  }

  &--small {
    padding-inline: var(--space-2xs);
    padding-block: var(--space-3xs);
  }
}
