.circle {
  position: relative;
  width: 80vw;
  max-width: 37.5rem;
  margin-inline: auto;

  &__shadow {
    position: absolute;
    inset: 0;
    border-radius: 100vmax;
    opacity: 0.3;
    box-shadow: inset -10px -10px 10px var(--color-white),
      /* inner white */ inset 20px 0 50px var(--color-pink),
      inset 40px 50px 80px var(--color-pink),
      /* inner left magenta short */ inset -20px 0 10px var(--color-blue-600),
      /* inner right cyan short */ inset 20px 0 20px var(--color-pink),
      /* inner left magenta broad */ inset -20px 0 60px var(--color-blue-600),
      /* inner right cyan broad */ 0 0 10px rgba(255, 255, 255, 0.4),
      /* outer white */ -20px 10px 40px var(--color-pink),
      /* outer left magenta */ 20px -10px 40px var(--color-blue-600); /* outer right cyan */
    transition: opacity 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  &__headline {
    position: absolute;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0);
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: text-shadow 250ms cubic-bezier(0.65, 0, 0.35, 1);
  }

  @media (any-pointer: fine) and (any-hover: hover) {
    &:hover {
      .circle__shadow {
        opacity: 0.7;
      }

      .circle__headline {
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
      }
    }
  }
}
