.dxm-group-visual {
  display: grid;
  margin-block: var(--space-3xl-4xl);
  margin-inline: auto;
  max-width: 180rem;

  grid-template-columns:
    minmax(var(--space-m), 2fr)
    min(100% - 2 * var(--space-m), 68ch)
    //4fr
    minmax(0, 68ch)
    minmax(var(--space-m), 2fr);
  grid-template-rows: auto min(11rem, 14vw) auto;

  &__img {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  &__text {
    text-align: right;
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
