.filter {
  display: flex;
  gap: var(--space-2xs-xs);
  width: 100%;
  overflow-x: auto;
  padding-block-end: var(--space-s);
  scrollbar-color: var(--color-blue-600) rgba(255, 255, 255, 0.1);

  &::-webkit-scrollbar {
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-600);
  }

  button.active {
    background-color: var(--color-blue-600);
    color: var(--color-black);
    padding-right: 4rem;

    &::after {
      opacity: 1;
      transition: 0.25s ease 0.2s;
    }
  }

  button {
    flex-shrink: 0;
    text-align: center;
    white-space: nowrap;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='12.728' width='4' height='18' transform='rotate(45 12.728 0)' fill='%230A101C'/%3E%3Crect y='2.82837' width='4' height='18' transform='rotate(-45 0 2.82837)' fill='%230A101C'/%3E%3C/svg%3E%0A");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 1rem;
      border: 2px solid var(--color-black);
      border-radius: 4rem;
      width: 1.4rem;
      height: 1.4rem;
      position: absolute;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      transition: 0.15s ease;
    }
  }
}

@include media-query("md") {
  .filter {
    justify-content: center;
    width: unset;
    flex-wrap: wrap;
    margin-inline: auto;
    padding: 0;

    a {
      width: auto;
    }
  }
}
