.keywords {
  h5 {
    display: block;
    margin-block: 3rem;
    position: relative;
    line-height: 1.2;

    &::after {
      content: "";
      width: 2rem;
      height: 2px;
      background-color: var(--color-white);
      position: absolute;
      left: 50%;
      top: calc(100% + 3rem / 2);
      transform: translateX(-50%);
    }

    @include media-query("md") {
      display: inline;
      line-height: unset;

      &::after {
        background-color: unset;
        transform: unset;
        width: unset;
        height: unset;
        position: unset;
        content: " | ";
      }
    }
  }
}
