.main-nav {
  padding-block: var(--space-m);
  font-size: var(--text-step-2);

  &__list {
    outline: 2px dashed white;
  }

  &__list-item {
    background: rgb(255 255 255 / 0.4);
    padding-inline: 2ch;
    border-radius: 999rem;
  }

  &__link {
    text-decoration: none;
  }
}
