.news-article {
  $block: &;

  position: relative;
  hyphens: auto;
  padding: var(--space-s);

  @media screen and (min-width: 37.5em) {
    hyphens: none;
  }

  & > * + * {
    margin-top: var(--space-xs);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid transparent;
    background-image: linear-gradient(var(--color-black), var(--color-black)),
      var(--color-gradient);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat, no-repeat;
    background-size: 0 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out, background-size 0.1s 0.4s ease-out;
  }

  &__img {
    position: relative;
    z-index: -1;

    img {
      width: 100%;
      object-fit: cover;
      aspect-ratio: 21/9;
      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(180deg, rgba(14, 19, 27, 0) 0%, #0e131b 100%);
      inset: 0;
    }
  }

  &__headline {
    & > * + * {
      margin-top: var(--space-xs);
    }

    &__title {
      position: relative;
      line-height: 1;
    }
  }

  &__link {
    margin-block-start: 0;
    position: absolute;
    inset: 0;
  }

  &:hover {
    &::before {
      transition: background-size 0.3s ease-out;
      background-size: 100% 100%, 180% 100%;
      opacity: 1;
    }

    .gradient-line-horizontal {
      background: linear-gradient(white, white);
    }
  }
}
