.plain-html {
  max-width: 60rem;
  margin-inline: auto;

  img {
    height: auto;
    width: min(100%, 20rem);
  }

  h2 {
    @include apply-utility('text', 'step-3');
    text-transform: uppercase;
  }

  h3 {
    @include apply-utility('text', 'step-2');
  }

  h4 {
    @include apply-utility('text', 'step-1');
    text-transform: uppercase;
  }

  > * + * {
    margin-top: 2em;
    margin-bottom: 0;

    & + p {
      margin-top: 1em;
    }
  }

  p,
  ul {
    @include apply-utility('text', 'step-0');

    & + h5 {
      margin-top: 0.2em;
    }

    & + p {
      margin-top: 1em;
    }

    strong {
      @include apply-utility('weight', 'bold');
      color: var(--color-blue-600);
    }
  }

  ul {
    list-style-type: none;
    padding-left: var(--space-m-l);

    li {
      margin-bottom: 0.8rem;
      position: relative;
      display: inline-block;

      &::before {
        content: '';
        width: calc(var(--space-m-l) - 1rem);
        height: 1px;
        background: var(--color-gradient-horizontal);
        position: absolute;
        top: 0.7rem;
        left: calc(var(--space-m-l) * -1);
      }
    }

    & + p {
      margin-top: 2em;
    }
  }

  a {
    text-decoration-color: var(--color-blue-600);
    transition: outline-offset 0.2s ease-out;

    &:hover {
      color: var(--color-blue-600);
    }
  }
}
