#main-content{
    margin-block: auto;
}

.slides{
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: min(5vw, 4rem);

    &__title{
        text-align: center;
        font-size: 6vmin;
        max-width: 30ch;
    }
}

@keyframes visual {
    0% {transform: rotate(0deg) translateX(10px) rotate(-0deg);}
    100% {transform: rotate(360deg) translateX(10px) rotate(-360deg);}
}

.dxm{
    --animation-duration: 10s ;
    animation: visual var(--animation-duration) infinite linear;
    transform: rotate(360deg);
}

.dxm-one {
    filter: blur(6px);
    opacity: 0.4;
    animation-delay: calc(var(--animation-duration) / -3);
}

.dxm-two {
    animation-delay: calc(var(--animation-duration) / -3 * 2);
}