#main-content{
    margin-block: auto;
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slides{
    &__img{
        margin-inline: auto;
        max-width: 90rem;
    }

    &__title{
        margin-inline: auto;
        margin-top: 3vw;
        text-align: center; 
        font-size: 5vmin;  
        max-width: 40ch; 
    }
}