#main-content{
    margin-block: auto;
}

.slides{
    min-height: 100dvh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    &__title{
        text-align: center;
        font-size: 6vmin;
        max-width: 40ch;
    }
}