---
title: "Allgemeine Geschäftsbedingungen für Referentenvertrag"
layout: "layouts/content.njk"
permalink: /agb-referent/
---

<div class="section">
  <div class="wrapper | stack-3xl-4xl">
    <div class="text-center gradient-line-vertical stack-xs">
      <h1 class="text-center text-white uppercase text-step-5 cxt leading-flat">AGB</h1>
      <p class="leading-tight text-step-0">Allgemeine Geschäftsbedingungen für Referentenvertrag</p>
    </div>
    <div class="wrapper | stack-m" style="--wrapper-max: 78rem;">
      <p class="leading-tight text-step-2">Allgemeine Geschäftsbedingungen (AGB) für Veranstaltungen (Vorträge, Moderationen) mit Prof. Dr. David Matusiewicz</p>

      <div>
        <h2 class="text-blue-600 text-step-0 weight-bold">1. Honorar</h2>
        <p class="text-step-0">Das vereinbarte Honorar versteht sich zzgl. Reisekosten und Mehrwertsteuer.</p>
      </div>
      <div>
        <h2 class="text-blue-600 text-step-0 weight-bold">2. Technik</h2>
        <p class="text-step-0">Die erforderliche Technik (Lautsprecheranlage, Mikrofon, Beamer, Leinwand, Flipchart etc.) wird im Vorfeld abgesprochen und in der Regel vom Veranstalter gestellt.</p>
      </div>
      <div>
        <h2 class="text-blue-600 text-step-0 weight-bold">3. Rechnungstellung</h2>
        <p class="text-step-0">Die Rechnungstellung für das Vertragshonorar und Reisekosten erfolgt nach dem Veranstaltungsdatum. Bei einem Ausfall der Veranstaltung nach Ankündigung der Veranstaltung. Das Zahlungsziel beträgt 14 Tage.</p>
      </div>
    </div>
  </div>