---
title: "Error"
layout: "layouts/content.njk"
permalink: /404.html
---
<div class="wrapper | stack-3xl-4xl">
  <div class="gradient-line-vertical text-center">
    <h1 class="text-step-5 text-white cxt uppercase text-center leading-flat">Error 404</h1>
  </div>
  <div>
    <p class="text-step-2 text-white weight-light text-center">
      Es tut uns leid: Diese Seite ist leider nicht erreichbar.
    </p>
    <p class="text-step-0 text-white weight-light text-center">Aber hier gibt es garantiert etwas zu entdecken: <a href="/" style="color: var(--text-blue-600)">Zur Startseite</a>
    </p>
  </div>
</div>