/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: var(--wrapper-max-width, 90rem);
  padding: 0 var(--space-m);
  margin-inline: auto;
  position: relative;
}
