---
title: "Allgemeine Geschäftsbedingungen für Referentenvertrag"
layout: "layouts/home.njk"
permalink: /agb-referent/
---


  <div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-m">
      <h1 class="text-step-5 color-red center-text">Allgemeine Geschäfts&shy;bedingungen für Referenten&shy;vertrag</h1>
      <p class="text-step-2 leading-tight">Allgemeine Geschäftsbedingungen (AGB) für Veranstaltungen (Vorträge, Moderationen) mit Prof. Dr. David Matusiewicz</p>
      <ol>
        <li>
          <span class="color-blue-200">Honorar</span><br>
          <span>Das vereinbarte Honorar versteht sich zzgl. Reisekosten und Mehrwertsteuer.</span>
        </li>
      </ol>
    </div>
  </div>

