---
title: "Club"
layout: "layouts/content.njk"
permalink: /club/
---

{% set fields = ctfl.pageClub.fields %}
<div class="section">
  <div class="wrapper | stack-xl">
    <div class="circle">
      <div class="circle__shadow"></div>
      {% include "svg/circle-club.svg" %}
      <h1 class="sr-only">{{ fields.title }}</h1>
      <div class="circle__headline" aria-hidden="true">
        {% include "svg/visionh.svg" %}
      </div>
    </div>
    <div class="center-text stack-l">
      <p class="text-step-1 center-text wrapper leading-loose" style="--wrapper-max-width: 48rem; padding: 0;">
        {{ fields.description }}
      </p>
      <a href=" mailto:{{ fields.email }} " target="blank" class="button" style="text-transform: none;">{{ fields.button }}</a>
    </div>
  </div>
</div>