---
title: "Club"
layout: "layouts/content.njk"
permalink: /club/
socialImage: "/images/meta/social-share-club.png"
---

{% set fields = ctfl.pageClub.fields %}
<div class="section">
  <div class="wrapper | stack-xl">
    <div class="circle">
      <div class="circle__shadow"></div>
      {% include "svg/circle-club.svg" %}
      <h1 class="sr-only">{{ fields.title }}</h1>
      <div class="circle__headline" aria-hidden="true">
        {% include "svg/visionh.svg" %}
      </div>
    </div>
    <div class="center-text stack-l">
      <p class="text-step-1 center-text wrapper leading-loose" style="--wrapper-max-width: 48rem; padding: 0;">
        {{ fields.description }}
      </p>
      <div class="cluster" style="display: flex; justify-content: center;">
        <button id="club" class="button" style="text-transform: none;">Club Intern</button>
      </div>
    </div>
  </div>
</div>

<script>
  var clubMemberButton = document.getElementById("club");

  function checkPassword() {
    var isAuthenticated = localStorage.getItem("clubMember");

    if (isAuthenticated === "true") {
      window.location.href = "/vision-h";
    } else {
      var enteredPassword = prompt("Club Member Code eingeben:");

      if (enteredPassword === "DXMj9LhqAsx") {
        localStorage.setItem("clubMember", "true");
        window.location.href = "/vision-h";
      } else {
        alert("Falscher Code – erneut eingeben oder Membership beantragen.");
      }
    }
  }

  if (clubMemberButton) {
    clubMemberButton.addEventListener("click", checkPassword);
  }
</script>