---

title: "About dxm"
permalink: /{{ ctfl.pageEnglish.fields.title | slug }}/
layout: "layouts/content.njk"
---
{% set fields = ctfl.pageEnglish.fields %}

<div class="section">
  <div class="wrapper | stack-3xl-4xl">
    <div class="gradient-line-vertical">
      <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">{{ fields.title }}</h1>
    </div>
    <div class="section__intro plain-html">
      {{ fields.content | renderRichTextAsHtml | safe  }}
    </div>
  </div>
</div>