---
title: "Error"
layout: "layouts/content.njk"
permalink: /404.html
---
<div class="wrapper | stack-3xl-4xl">
  <div class="gradient-line-vertical center-text">
    <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Error 404</h1>
  </div>
  <div>
    <p class="text-step-2 color-white weight-light center-text">
      Es tut uns leid: Diese Seite ist leider nicht erreichbar.
    </p>
    <p class="text-step-0 color-white weight-light center-text">Aber hier gibt es garantiert etwas zu entdecken: <a href="/" style="color: var(--color-blue-600)">Zur Startseite</a>
    </p>
  </div>
</div>