---
title: "Kontakt"
layout: "layouts/home.njk"
permalink: /kontakt/
---


  <div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical">
        <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Publika&shy;tionen</h1>
      </div>

      <h2 class="text-step-1 center-text wrapper leading-loose" style="--wrapper-max-width: 48rem;"><span class="text-highlight">Geschwindigkeit</span> liegt in der <span class="text-highlight">DNA der DXM Group</span>. 
                Wir werden Deine Anfrage asap beantworten.</h2>

        <div class="grid-switcher" style="
              --gs-columns-small: 1;
              --gs-bp-medium: 50rem;
              --gs-columns-large: 2;
              --gs-gap: 0.5rem;
              --gs-gap: var(--space-xl);
        ">
            <div class="contact-person stack-m">
                <img alt="" src="/images/contact-01.png" style="
                    width: 100%;
                    height: auto;
                ">
                <div class="content stack-2xs">
                    <h3 class="text-step-2 weight-bold">Prof. Dr. David Matusiewicz</h3>
                    <h4 class="text-step-1 weight-light">Gründer & CEO</h4>
                </div>
                <a href="#" class="button" style="text-transform: none;">LinkedIn</a>
            </div>

            <div class="contact-person stack-m">
                <img alt="" src="/images/contact-02.png" style="
                    width: 100%;
                    height: auto;
                ">
                <div class="content stack-2xs">
                    <h3 class="text-step-2 weight-bold">Alexandra Schilcher</h3>
                    <h4 class="text-step-1 weight-light">Marketing & Kommunikation</h4>
                </div>
                <a href="#" class="button" style="text-transform: none;">LinkedIn</a>
            </div>
        </div>
                
        <div class="contact-info | center-text">
            <p class="text-step-1 uppercase">DXM Group GmbH<br> 
                c/o BRYCK GmbH & Co. KG<br>
                Jakob-Funke-Platz 2<br>
                45127 Essen<br>
                info@dxmgroup.de</p>
        </div>
    </div>
  </div>

<script defer="defer" src="/js/book-flip.js"></script>