---
title: "Leistungen"
layout: "layouts/home.njk"
permalink: /leistungen/
---

<div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
        <div class="gradient-line-vertical center-text">
            <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Newsletter</h1>
        </div>

        <div class="grid-switcher" role="list" style="
            --gs-columns-large: 2;
            --gs-columns-medium: 2;
            --gs-columns-small: 1;
            --gs-bp-medium: 50rem;
            --gs-gap: var(--space-l);
            --gs-gap-vertical: var(--space-s-l);
            ">
            <article class="stack-m">
                <div class="pink-img-overlay">
                    <img src="/images/leistungen/startup-beratung.png" alt="">
                </div>
                <h3 class="uppercase text-step-2">Startup Beratung</h3>
                <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
            </article>
            <article class="stack-m">
                <div class="pink-img-overlay">
                    <img src="/images/leistungen/startup-scouting.png" alt="">
                </div>
                <h3 class="uppercase text-step-2">Startup Scouting</h3>
                <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
            </article>
            <article class="stack-m">
                <div class="pink-img-overlay">
                    <img src="/images/leistungen/investorensuche.png" alt="">
                </div>
                <h3 class="uppercase text-step-2">Investorensuche</h3>
                <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
            </article>
            <article class="stack-m">
                <div class="pink-img-overlay">
                    <img src="/images/leistungen/vortraege-moderation.png" alt="">
                </div>
                <h3 class="uppercase text-step-2">vorträge & moderation</h3>
                <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
            </article>
            <article class="stack-m">
                <div class="pink-img-overlay">
                    <img src="/images/leistungen/think-tanks.png" alt="">
                </div>
                <h3 class="uppercase text-step-2">think tanks</h3>
                <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
            </article>
            <article class="stack-m">
                <div class="pink-img-overlay">
                    <img src="/images/leistungen/case-studies.png" alt="">
                </div>
                <h3 class="uppercase text-step-2">case studies</h3>
                <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
            </article>
            <article class="stack-m">
                <div class="pink-img-overlay">
                    <img src="/images/leistungen/digital-health-marketing.png" alt="">
                </div>
                <h3 class="uppercase text-step-2">digital health marketing</h3>
                <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
            </article>
        </div>

    </div>
</div>