---
title: "Leistungen"
layout: "layouts/home.njk"
permalink: /leistungen/
---

<div class="section stack-3xl-4xl" style="padding-block: var(--space-3xl);">

    <div class="wrapper | stack-3xl-4xl">
        <div class="gradient-line-vertical">
            <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Leistungen</h1>
        </div>

        <h2 class="text-step-1 center-text wrapper leading-loose" style="--wrapper-max-width: 48rem;">
            Die
            <span class="text-highlight">DXM Group</span>
            selbst ist eine Plattform und ein Ökosystem rund um die Digitale Gesundheit. Wir bieten die folgenden Leistungen an:
        </h2>
    </div>

    <ul class="grid-switcher wrapper" role="list" style="
        --gs-columns-large: 2;
        --gs-columns-medium: 2;
        --gs-columns-small: 1;
        --gs-bp-medium: 50rem;
        --gs-gap: var(--space-l-xl);
        --gs-gap-vertical: var(--space-xl-2xl);
        ">
        <li class="stack-s">
            <div class="pink-img-overlay">
                <img src="/images/leistungen/startup-beratung.png" alt="">
            </div>
            <h3 class="uppercase text-step-2">Startup Beratung</h3>
            <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
        </li>
        <li class="stack-s">
            <div class="pink-img-overlay">
                <img src="/images/leistungen/startup-scouting.png" alt="">
            </div>
            <h3 class="uppercase text-step-2">Startup Scouting</h3>
            <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
        </li>
        <li class="stack-s">
            <div class="pink-img-overlay">
                <img src="/images/leistungen/investorensuche.png" alt="">
            </div>
            <h3 class="uppercase text-step-2">Investorensuche</h3>
            <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
        </li>
        <li class="stack-s">
            <div class="pink-img-overlay">
                <img src="/images/leistungen/vortraege-moderation.png" alt="">
            </div>
            <h3 class="uppercase text-step-2">vorträge & moderation</h3>
            <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
        </li>
        <li class="stack-s">
            <div class="pink-img-overlay">
                <img src="/images/leistungen/think-tanks.png" alt="">
            </div>
            <h3 class="uppercase text-step-2">think tanks</h3>
            <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
        </li>
        <li class="stack-s">
            <div class="pink-img-overlay">
                <img src="/images/leistungen/case-studies.png" alt="">
            </div>
            <h3 class="uppercase text-step-2">case studies</h3>
            <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
        </li>
        <li class="stack-s">
            <div class="pink-img-overlay">
                <img src="/images/leistungen/digital-health-marketing.png" alt="">
            </div>
            <h3 class="uppercase text-step-2">digital health marketing</h3>
            <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
        </li>
    </ul>

    <div class="stack-xl">
        <div class="stack-s wrapper" style="--wrapper-max-width: 43.75rem;">
            <h2 id="partner" class="text-step-5 uppercase center-text" style="scroll-margin-top: var(--space-2xl);">
              Strategische<br>Allianzen
            </h2>
            <div class="gradient-line-horizontal leading-flat" style="--gradient-width: 33rem; margin-inline: auto;"></div>
            <p class="text-step-0 center-text">Die DXM kooperiert mit den folgenden Unternehmen eng zusammen. Die Medienpartner sind hier zu finden.</p>
        </div>
        <div class="grid-switcher wrapper"style="
        --gs-columns-large: 3;
        --gs-columns-medium: 3;
        --gs-columns-small: 1;
        --gs-gap: var(--space-l);
        ">
            <img class="logo-size" src="/images/logos/9elements.png" alt="">
            <img class="logo-size" src="/images/logos/siemens.png" alt="">
            <img class="logo-size" src="/images/logos/bryck.png" alt="">
        </div>
    </div>

    <div class="stack-xl">
        <div class="stack-s wrapper" style="--wrapper-max-width: 43.75rem;">
            <h2 id="startups" class="text-step-5 uppercase center-text" style="scroll-margin-top: var(--space-2xl);">
              Startups, Scaleups und KMU
            </h2>
            <div class="gradient-line-horizontal leading-flat" style="--gradient-width: 45rem; margin-inline: auto;"></div>
            <p class="text-step-0 center-text">DXM GmbH begleitet, berät und investiert in Startups, Scaleups und kleine und mittelständische Unternehmen (KMU). Einige sind hier exemplarisch öffentlich aufgeführt.</p>
        </div>

        <div class="wrapper">
            <div class="filter" style="max-width: 60rem;">
            {% for filter in ctfl.funktion %}
                <button class="button filter-button" data-filter="{{ filter }}">
                {{ filter }}
                </button>
            {% endfor %}
            </div>
        </div>

        <div class="grid-switcher wrapper"style="
        --gs-columns-large: 4;
        --gs-columns-medium: 3;
        --gs-columns-small: 2;
        --gs-bp-medium: 35rem;
        --gs-gap: var(--space-l-xl);
        ">

            {% for startup in ctfl.startup %}
                <a class="filter-item" href="{{ startup.fields.externalLink }}" target="blank" data-filter="{{ startup.fields.funktionVonDxM }}">
                {% ctflPicture
                        imgObj = startup.fields.logo,
                        fit = "fill",
                        imgWidth = "720",
                        imgHeight = "1000",
                        alt = "",
                        widths = [360, 720],
                        sizes = "(min-width: 72.5em) 433px, 100vw",
                        classes = "logo-size"
                      %}
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<script defer="defer" src="/js/filter.js"></script>