---
title: "Kontakt"
layout: "layouts/home.njk"
permalink: /media/
---


  <div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical">
        <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Media</h1>
      </div>

      <div class="logo-grid">
        <a href="#" alt="">
            <img src="/images/logo-01.png">
        </a>
        <a href="#" alt="">
            <img src="/images/logo-02.png">
        </a>
        <a href="#" alt="">
            <img src="/images/logo-03.png">
        </a>
        <a href="#" alt="">
            <img src="/images/logo-04.png">
        </a>
        <a href="#" alt="">
            <img src="/images/logo-05.png">
        </a>
        <a href="#" alt="">
            <img src="/images/logo-06.png">
        </a>
        <a href="#" alt="">
            <img src="/images/logo-07.png">
        </a>
      </div>
    </div>
  </div>
