---
title: "DXM Newsletter weekly"
layout: "layouts/home.njk"
permalink: /newsletter/
---

<div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical center-text">
        <h1 class="text-step-5 color-white cxt uppercase center-text">Newsletter</h1>
      </div>
          
            <div class="grid-switcher" role="list" style="
            --gs-columns-large: 2;
            --gs-columns-medium: 2;
            --gs-columns-small: 1;
            --gs-bp-medium: 50rem;
            --gs-gap: var(--space-l);
            --gs-gap-vertical: var(--space-s-m);
            ">
                <article class="news-article">
                    <div class="news-article__img">
                        <img src="https://place.dog/400/300" alt="Ein süßer Hund">
                    </div>
                    <h2 class="news-article__title weight-regular text-step-1">
                        <span class="weight-bold">No. 6</span>
                        <br>
                        Bürokratiemonster im Gesundheitswesen
                    </h2>
                    <a class="news-article__link" href="#"><span class="sr-only">Bürokratiemonster im Gesundheitswesen</span></a>
                </article>
                <article class="news-article">
                    <div class="news-article__img">
                        <img src="https://place.dog/400/300" alt="Ein süßer Hund">
                    </div>
                    <h2 class="news-article__title weight-regular text-step-1">
                        <span class="weight-bold">No. 6</span>
                        <br>
                        Bürokratiemonster im Gesundheitswesen
                    </h2>
                    <a  class="news-article__link" href="#"><span class="sr-only">Bürokratiemonster im Gesundheitswesen</span></a>
                </article>
                <article class="news-article">
                    <div class="news-article__img">
                        <img src="https://place.dog/400/300" alt="Ein süßer Hund">
                    </div>
                    <h2 class="news-article__title weight-regular text-step-1">
                        <span class="weight-bold">No. 6</span>
                        <br>
                        Bürokratiemonster im Gesundheitswesen
                    </h2>
                    <a  class="news-article__link" href="#"><span class="sr-only">Bürokratiemonster im Gesundheitswesen</span></a>
                </article>
                <article class="news-article">
                    <div class="news-article__img">
                        <img src="https://place.dog/400/300" alt="Ein süßer Hund">
                    </div>
                    <h2 class="news-article__title weight-regular text-step-1">
                        <span class="weight-bold">No. 6</span>
                        <br>
                        Bürokratiemonster im Gesundheitswesen
                    </h2>
                    <a  class="news-article__link" href="#"><span class="sr-only">Bürokratiemonster im Gesundheitswesen</span></a>
                </article>
                
            </div>
            
        </div>
    </div>
</div>
