---
title: "DXM Newsletter weekly"
layout: "layouts/content.njk"
permalink: /newsletter/
---

<div class="section">
    <div class="wrapper | stack-3xl-4xl">
        <div class="gradient-line-vertical center-text">
            <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Newsletter</h1>
        </div>

        <div class="grid-switcher" role="list" style="
            --gs-columns-large: 2;
            --gs-columns-medium: 2;
            --gs-columns-small: 1;
            --gs-bp-medium: 70rem;
            --gs-gap: var(--space-l);
            --gs-gap-vertical: var(--space-s-l);

            --sidebar-threshold: 20rem;
            --sidebar-width: 25rem;
            ">

            {% for article in ctfl.newsletterArticle | reverse %}
                <article class="news-article sidebar-right">
                    <div class="news-article__img">
                        {% set photo = article.fields.image %}
                        {% ctflPicture
                          imgObj = photo,
                          fit = "fill",
                          focus = "faces",
                          imgWidth = "1340",
                          imgHeight = "574",
                          alt = "",
                          widths = [670, 1340],
                          sizes = "(min-width: 72.5em) 433px, 100vw",
                          classes = ""
                        %}
                    </div>
                    <div class="news-article__headline text-step-2">
                        <p class="news-article__headline__title weight-bold">No. {{ article.fields.articleNumber}}</p>
                        <div class="gradient-line-horizontal"></div>
                        <h2 class="news-article__headline__title weight-regular text-step-2">
                            {{ article.fields.title }}
                        </h2>
                        <a class="news-article__link" href="#">
                            <span class="sr-only">
                                {{ article.fields.title }}
                            </span>
                        </a>
                    </div>
                </article>

            {% endfor %}

        </div>

    </div>
</div>