---
title: "DXM Newsletter weekly"
layout: "layouts/home.njk"
permalink: /newsletter/
---

{% set fields = ctfl.pageNewsletter %}
<div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
        <div class="gradient-line-vertical center-text">
            <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">{{fields.title}}</h1>
        </div>

        <div class="grid-switcher" role="list" style="
            --gs-columns-large: 2;
            --gs-columns-medium: 2;
            --gs-columns-small: 1;
            --gs-bp-medium: 70rem;
            --gs-gap: var(--space-l);
            --gs-gap-vertical: var(--space-s-l);

            --sidebar-threshold: 20rem;
            --sidebar-width: 25rem;
            ">

            {% for article in ctfl.newsletterArticle | reverse %}

                <article class="news-article sidebar-right">
                    <div class="news-article__img">
                        <img src="{{ article.fields.image.fields.file.url}}" alt="">
                    </div>
                    <div class="news-article__headline text-step-2">
                        <p class="news-article__headline__title weight-bold">No. {{ article.fields.articleNumber}}</p>
                        <div class="gradient-line-horizontal"></div>
                        <h2 class="news-article__headline__title weight-regular text-step-2">
                            {{ article.fields.title }}
                        </h2>
                        <a class="news-article__link" href="#">
                            <span class="sr-only">
                                {{ article.fields.title }}
                            </span>
                        </a>
                    </div>
                </article>

            {% endfor %}

        </div>

    </div>
</div>