---
title: "Ökosystem"
layout: "layouts/content.njk"
permalink: /oekosystem/
---

{% set fields = ctfl.pageOekosystem.fields %}

<div class="section stack-3xl-4xl">
  <div class="wrapper | stack-3xl-4xl" style="--wrapper-max-width: 65rem">
    <div class="gradient-line-vertical">
      <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">
        Ökosystem
      </h1>
    </div>
    <div class="section__intro | center-text text-step-1">
      {{ fields.intro | renderRichTextAsHtml | safe  }}
    </div>
  </div>

  <ul class="grid-switcher wrapper" role="list" style="
      --gs-columns-large: 2;
      --gs-columns-medium: 2;
      --gs-columns-small: 1;
      --gs-bp-medium: 50rem;
      --gs-gap: var(--space-l-xl);
      --gs-gap-vertical: var(--space-xl-2xl);
    ">
    {% for item in fields.leistungen %}
      <li class="stack-s">
        <div class="pink-img-overlay news-article__img">
          {% ctflPicture
            imgObj = item.fields.image,
            fit = "fill",
            imgWidth = "1340",
            imgHeight = "574",
            alt = "",
            widths = [670, 1340],
            sizes = "(min-width: 72.5em) 433px, 100vw",
            classes = ""
          %}
        </div>
        <h3 class="uppercase text-step-2">{{ item.fields.text }}</h3>
        <div class="gradient-line-horizontal" style="--gradient-width: 11.5rem"></div>
      </li>

    {% endfor %}
  </ul>

  <div class="stack-xl">
    <div class="stack-s wrapper" style="--wrapper-max-width: 65rem">
      <h2 id="startups" class="text-step-5 uppercase center-text" style="scroll-margin-top: var(--space-2xl)">
        Startups, Scaleups und KMU
      </h2>
      <div class="gradient-line-horizontal leading-flat" style="--gradient-width: 45rem; margin-inline: auto"></div>
      <p class="text-step-0 center-text">
        DXM GmbH begleitet, berät und investiert in Startups, Scaleups und
        kleine und mittelständische Unternehmen (KMU). Einige sind hier
        exemplarisch öffentlich aufgeführt.
      </p>
    </div>

    <div class="wrapper">
      <div class="filter" style="max-width: 60rem">
        {% for filter in ctfl.funktion %}
          <button class="button filter-button" data-filter="{{ filter }}">
            {{ filter }}
          </button>
        {% endfor %}
      </div>
    </div>

    <div class="grid-switcher wrapper" style="
        --gs-columns-large: 4;
        --gs-columns-medium: 3;
        --gs-columns-small: 2;
        --gs-bp-medium: 35rem;
        --gs-gap: var(--space-l-xl);
      ">
      {% for startup in ctfl.startup %}
        {% if startup.fields.externalLink %}

          <a class="filter-item" href="{{ startup.fields.externalLink }}" target="blank" data-filter="{{ startup.fields.funktionVonDxM }}">

          {% else %}

            <span class="filter-item" target="blank" data-filter="{{ startup.fields.funktionVonDxM }}">

            {% endif %}

            {% ctflPicture
              imgObj = startup.fields.logo,
              formats = ["avif", "webp", "png", "svg"],
              fit = "fill",
              imgWidth = "600",
              alt = "",
              widths = [360, 720],
              sizes = "(min-width: 72.5em) 433px, 100vw",
              classes = "logo-size"
            %}

            {% if startup.fields.externalLink %}
            </a>
          {% else %}
          </span>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="wrapper" style="--wrapper-max-width: 70rem;">
    <div class="grid-switcher" style="
            --gs-columns-medium: 1;
            --gs-columns-large: 1;
            --gs-bp-medium: 39rem;
            --gs-gap: var(--space-l);
            ">
      <a href="/club/" class="icon-link">
        <span class="icon-link__icon">
          {% include "svg/club.svg" %}
        </span>
        <span class="icon-link__text | center-text text-step-1">Club</span>
      </a>
    </div>
  </div>
</div>

<script defer="defer" src="/js/filter.js"></script>