---
title: "Publikationsliste"
layout: "layouts/home.njk"
permalink: /publikationsliste/
---


  <div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical">
        <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Publikations&shy;liste</h1>
      </div>

      <div class="plain-html"></div>
    </div>
  </div>
