---
title: "Publikationen"
layout: "layouts/home.njk"
permalink: /publikationen/
---


  <div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical">
        <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Publika&shy;tionen</h1>
      </div>

      <section class="publication stack-xl">
        <div class="filter" style="max-width: 60rem;">
          
          {% for publisher in ctfl.publishers %}
            <button class="button filter-button" data-filter="{{ publisher }}">
              {{ publisher }}
            </button>
          {% endfor %}
        </div>
        <div class="grid-switcher" id="books" style="
              --gs-columns-small: 1;
              --gs-bp-medium: 42rem;
              --gs-columns-medium: 2;
              --gs-bp-large: 70rem;
              --gs-columns-large: 3;
              --gs-gap: 0.5rem;
              --gs-gap: var(--space-l-xl);
        ">
          {% for book in ctfl.publikation %}

            <article data-filter="{{ book.fields.publisher }}" class="publication__item filter-item stack-s-m">
              <div class="publication__info">
                  <div class="flip">
                    <div class="publication__spine">
                        <span class="weight-bold">{{ book.fields.bookTitle }}</span>
                    </div>

                    <div class="publication__cover">
                      {% ctflPicture
                        imgObj = book.fields.bookCover,
                        fit = "fill",
                        imgWidth = "720",
                        imgHeight = "1000",
                        alt = "",
                        widths = [360, 720],
                        sizes = "(min-width: 72.5em) 433px, 100vw"
                      %}
                    </div>
                  </div>

                <div class="publication__description stack-xs">
                  <p class="step--1">{{ book.fields.bookDescription }}</p>
                  <h4 class="weight-bold leading-loose">{{ book.fields.numberOfPages }} Seiten <br> {{ book.fields.releaseYear }}</h4>
                </div>
              </div>

              <p class="text-step-0 leading-tight" style="position: relative">{{ book.fields.bookTitle }}</p>

              <div class="publication__actions">
                <div>
                  <button aria-label="Mehr zu Digitale Gesundheitsanwendungen (DIGA)" class="publication__open-button">
                    </button>
                    <span class="button button--small details" aria-hidden="true">Details</span>
                </div>
                <div>
                  <button aria-label="Mehr zu Digitale Gesundheitsanwendungen (DIGA)" class="button button--small publication__close-button">Schließen</button>
                  
                  {% if book.fields.shopLink %}
                    <a href="{{ book.fields.shopLink }}" aria-label="" class="button button--small button--filled" target="_blank">Kaufen</a>
                  {% endif %}
                </div>
              </div>
            </article>

          {% endfor %}
        </div>
      </section>
    </div>
  </div>

<script defer="defer" src="/js/book-flip.js"></script>
<script defer="defer" src="/js/filter.js"></script>