---
title: "Publikationen"
layout: "layouts/home.njk"
permalink: /publikationen/
---


  <div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical">
        <h1 class="text-step-5 color-white cxt uppercase center-text">Publikationen</h1>
      </div>

      <div class="grid-switcher">
        <div class="publikation">
          <img src="">
          <p class="text-step-0">Digitale Gesundheitsan-wendungen (DiGA)</p>
          <a href="#" alt="Mehr zu Digitale Gesundheitsanwendungen (DIGA)" class="button button--small">Details</a>
        </div>
      </div>
    </div>
  </div>

