---
title: "Shop"
layout: "layouts/content.njk"
permalink: /shop/
socialImage: "/images/meta/social-share-shop.png"
---

{% set fields = ctfl.pageShop.fields %}

<div class="section">
  <div class="wrapper | stack-3xl-4xl">

    <div class="dxm-group-visual" style="--space-up: 0;">
      <svg class="dxm-group-visual__img" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 1455 437">
        <g filter="url(#blur)" opacity=".3">
          <path stroke="url(#grad)" stroke-width="4" d="M289 69.7H117L69.3 22h220.3a182 182 0 1 1 0 364H67V206.6l47.7.4v130.4H289c73.7 0 134-60.2 134-133.9S362.8 69.7 289 69.7Zm445.8 136.8L914.5 386h-68L700.8 240.4l-1.4-1.4-1.4 1.4L552.2 386h-67.5l162.4-162.2 79.3-79.2L849 22h67.5L734.8 203.6l-1.4 1.4 1.4 1.5Zm288-63.8V386H975V22.8l225.8 225.6 1.4 1.4 1.4-1.4 225.8-224.6v67.5l-66.4 66.3-160.8 159.6-176.1-176-3.4-3.3v4.8ZM482.7 22h67.5l89.6 89.6h-67.5L482.7 22ZM1430 386h-47.7V223.1l47.7 47.2V386Z"/>
        </g>
        <path stroke="url(#grad)" stroke-width="3" d="M61 225v130.4h174.7c73.7 0 133.9-59.8 133.9-132.9 0-73.1-60.2-132.8-134-132.8H62L12 40h224.2c102 0 184.4 81.9 184.4 183a184 184 0 0 1-184.4 183H11V224.5l50 .5Zm624.2-.2L868 406h-71.3l-147-145.9-.8-.7-.7.7-147 145.9h-70.9l165.2-163.9 79.9-79.2L799.2 40H870L685.2 223.3l-.7.7.7.8Zm290.3-63.1V406h-50V39.4l229 227.3.8.7.7-.7 229-226.3v70.3l-67.1 66.6-162.6 160.3L977.2 161l-1.7-1.7v2.4ZM428.2 40H499l92.3 91.6h-70.8L428.2 40Zm957.4 366h-50V239.7l50 49.2V406Z"/>
        <path fill="url(#grad)" d="M265.4 59H39.2v.6l52 51.6v-.5H265c73.1 0 132.9 59.2 132.9 131.8 0 72.6-59.8 131.9-133 131.9H91.3V244l-52-.5V427h226.2a185 185 0 0 0 185.4-184c0-101.7-82.9-184-185.4-184Zm438.4 123.2-79.9 79.2L457 427h73.7L678 280.8 825.4 427h74.2L715 244 901.6 59H828L703.8 182.2Zm-80.9-29.6L528.6 59H455l94.2 93.6H623Zm724.9 45.5 67.5-67v-73l-230.8 227.8L953.7 57v370h52V181.7L1184.5 359l163.3-161Zm16 59.2V427h52V308.4l-52-51Z" opacity=".35"/>
        <defs>
          <linearGradient id="grad" x1="1" x2="1" y1="18" y2="388" gradientUnits="userSpaceOnUse">
            <stop stop-color="#f5104e"/>
            <stop offset="1" stop-color="#291AD8"/>
          </linearGradient>
          <filter id="blur" width="1383" height="386" x="57" y="10" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur result="effect1_foregroundBlur_1068_1548" stdDeviation="4"/>
          </filter>
        </defs>
      </svg>
      <h2 class="dxm-group-visual__text | text-step-5 uppercase leading-flat">DXM <br> Shop</h2>
    </div>
    <section class="publication stack-xl">
      <div class="grid-switcher" id="books" style="
              --gs-columns-small: 1;
              --gs-bp-medium: 42rem;
              --gs-columns-medium: 2;
              --gs-bp-large: 70rem;
              --gs-columns-large: 3;
              --gs-gap: var(--space-l-xl);
              --gs-gap-vertical: var(--space-xl);
                ">
        {% for merch in fields.merchandise %}
          <article class="stack-s">
            <div class="shop__slider">
              {# insert btn #}
              <div class="shop__slides" data-slides>
                {% ctflPicture
                imgObj = merch.fields.imageFront,
                fit = "fill",
                imgWidth = "720",
                imgHeight = "1000",
                classes = "shop__slide",
                alt = "",
                widths = [360, 720],
                sizes = "(min-width: 72.5em) 433px, 100vw"
              %}
                {% ctflPicture
                imgObj = merch.fields.imageBack,
                fit = "fill",
                imgWidth = "720",
                imgHeight = "1000",
                classes = "shop__slide",
                alt = "",
                widths = [360, 720],
                sizes = "(min-width: 72.5em) 433px, 100vw"
              %}
              </div>
            </div>
            <div>
              <h2>{{ merch.fields.name }}</h2>
              <p class="shop__merch--description">{{ merch.fields.description }}</p>
              <p>{{ merch.fields.price }}€</p>
            </div>
            <a href="mailto:{{ fields.email }}?subject={{ merch.fields.name }}" class="button button--small">Bestellen</a>
          </article>
        {% endfor %}
      </div>
    </section>
    <div class="grid-switcher" style="
              --gs-columns-medium: 1;
              --gs-columns-large: 1;
              --gs-bp-medium: 39rem;
              ">
      <a href="/publikationen/" class="icon-link" >
        <span class="icon-link__icon">
          {% icon icon = "buecher" %}
        </span>
        <span class="icon-link__text | center-text text-step-1">Bücher</span>
      </a>
    </div>
  </div>

  <script defer="defer" src="/js/slider.js"></script>