---
title: "Shop – Bestellung"
layout: "layouts/content.njk"
permalink: /shop/bestellung/
socialImage: "/images/meta/social-share-shop.png"
---

{% set fields = ctfl.pageShopBestellung.fields %}
<div class="section">
  <div class="wrapper | stack-xl">
    <div class="wrapper | stack-3xl-4xl" style="padding: 0;">
      <div class="gradient-line-vertical center-text">
        <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">{{ fields.headline }}</h1>
      </div>
      <div class="wrapper plain-html" style="--wrapper-max-width: 48rem; padding: 0">
        {{ fields.content | renderRichTextAsHtml | safe }}

        <div id="order-checkboxes">
          <div>
            <input type="checkbox" id="agb"/>
            <label class="text-step--1" for="agb">Ich habe die <a href="/shop-agb/">AGB</a> gelesen und erkläre mich damit einverstanden.</label>
          </div>
          <div>
            <input type="checkbox" id="privacy"/>
            <label class="text-step--1" for="privacy">
            Ich habe die <a href="/shop-datenschutz/">Datenschutzerklärung für Bestellungen</a> zur Kenntnis genommen.
          </label>
          </div>
          <div>
            <input type="checkbox" id="cancellation"/>
            <label class="text-step--1" for="cancellation">
            Ich stimme der <a href="/shop-widerruf/">Widerrufsbelehrung</a> zu.
          </label>
          </div>
        </div>
        <a id="order-link" role="link" aria-disabled="true" class="button" style="text-transform: none;">Jetzt bestellen</a>
      </div>
    </div>

  </div>
</div>

<script>
  const orderLink = document.getElementById("order-link");
  const enc = encodeURIComponent;
  const mail = {
    to: "info@dxmg.de",
    subject: enc("DxM Merch Bestellung"),
    body: enc("Hallo, \r\n\r\nich möchte folgenden Merch vom 10xD Shop bestellen: \r\n\r\nAGB, Datenschutzerklärung und Widerrufsrecht wurden gelesen und akzeptiert.")
  };
  const orderHref = `mailto:${mail.to}?subject=${mail.subject}&body=${mail.body}`;

  const orderCheckboxes = document
    .getElementById("order-checkboxes")
    .querySelectorAll("input[type='checkbox']");

  let checkedBoxesCount = 0;

  orderCheckboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", (e) => {
      checkedBoxesCount += e.currentTarget.checked
        ? 1
        : -1;

      // disable Link if checkboxes are not selected
      // https://www.scottohara.me/blog/2021/05/28/disabled-links.html
      if (checkedBoxesCount === orderCheckboxes.length) {
        orderLink.removeAttribute("aria-disabled");
        orderLink.removeAttribute("role");
        orderLink.setAttribute("href", orderHref);
      } else {
        orderLink.setAttribute("aria-disabled", "true");
        orderLink.setAttribute("role", "link");
        orderLink.removeAttribute("href");
      }
    });
  });
</script>