---
title: "Über David"
layout: "layouts/home.njk"
permalink: /ueber-david/
---


  <div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical center-text">
        <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Über David</h1>
      </div>

      <div>
        <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_D_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">David X Matusiewicz</h2>
          <p class="text-step-0 spaced-out opaque">
            Prof. Dr. David Matusiewicz verfügt jeweils über jahrelange Erfahrung in einer Gesetzlichen Krankenversicherung als auch am Lehrstuhl für Medizin-management an der Universität Duisburg-Essen und hat dort mit Big Data (Routinedaten) geforscht. David ist ausgewiesener Experte, Gründer, Investor, Herausgeber, Autor, Keynote Speaker und Moderator im Gesundheitswesen.
          </p>
          <a href="mailto:{{ site.authorEmail }}" class="button">Buchen</a>
        </div>
      </div>

      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_X_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">X Keynote Speaker</h2>
          <p class="text-step-0 spaced-out opaque">
          David ist einer der renommiertesten Keynote Speaker im Kontext der Digitalen Transformation. Seine Themenschwerpunkte sind Digitale Gesundheit, Digitale Medizin, Digitale Arbeit und Digitale Wirtschaft. Mit über 15 Jahren auf der Bühne bei kleinen und Großveranstaltung und dem Erfahrungsmix aus Wissenschaft und Praxis. Sein Stil ist das Edutainment bzw. Sciencetainment mit einer hohen Interaktion der Zuhörer.
          </p>
          <a href="mailto:{{ site.authorEmail }}" class="button">Buchen</a>
        </div>
      </div>

      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_M_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">X Moderator</h2>
          <p class="text-step-0 spaced-out opaque">
          David wurde von der TU Kaiserslautern als „die Moderationsmaschine“ betitelt. Er hat in seiner Laufbahn Eröffnungen von Kongressen, Talkrunden mit dem amtierenden Bundesgesundheitsminister und internationale Veranstaltungen im In- und Ausland moderiert. Bei seiner Moderation kann man sicher sein: die zeit wird auf die Sekunde eingehalten – von allen.
          </p>
          <a href="mailto:{{ site.authorEmail }}" class="button">Buchen</a>
        </div>
      </div>
      </div>

      <div class="stack-3xl">
        <h2 class="text-step-5 uppercase">Vita</h2>
        <details-utils class="stack-3xl" close-esc animate>
          <details class="acc-list">
            <summary class="text-step-2 leading-flat">Berufserfahrung</summary>
            <dl class="bg-blue-600 text-step-0">
              <div class="acc-list__item">
                <dt>10.2012 - 11.2012</dt>
                <dd>Centre for Health Systems (CHS)
                  University of Otago, New Zealand
                  Forschungsaufenthalt</dd>
              </div>

              <div class="acc-list__item">
                <dt>09.2008 - 06.2012</dt>
                <dd>Medizinische Fakultät, Universität Duisburg-Essen
                  Aus dem Alfried Krupp von Bohlen und Halbach
                  Stiftungslehrstuhl für Medizinmanagement
                  Promotion</dd>
              </div>

              <div class="acc-list__item">
                <dt>09.2008 – 06.2012</dt>
                <dd>Medizinische Fakultät, Universität Duisburg-Essen
                  Aus dem Alfried Krupp von Bohlen und Halbach
                  Stiftungslehrstuhl für Medizinmanagement
                  Promotion</dd>
              </div>
            </dl>
          </details>

          <details class="acc-list">
            <summary class="text-step-2 leading-flat">Akademische Erfahrung</summary>
            <dl class="bg-blue-600">
              <div class="acc-list__item">
                <dt>10.2012 - 11.2012</dt>
                <dd>Centre for Health Systems (CHS)
                  University of Otago, New Zealand
                  Forschungsaufenthalt</dd>
              </div>

              <div class="acc-list__item">
                <dt>09.2008 - 06.2012</dt>
                <dd>Medizinische Fakultät, Universität Duisburg-Essen
                  Aus dem Alfried Krupp von Bohlen und Halbach
                  Stiftungslehrstuhl für Medizinmanagement
                  Promotion</dd>
              </div>

              <div class="acc-list__item">
                <dt>09.2008 - 06.2012</dt>
                <dd>Medizinische Fakultät, Universität Duisburg-Essen
                  Aus dem Alfried Krupp von Bohlen und Halbach
                  Stiftungslehrstuhl für Medizinmanagement
                  Promotion</dd>
              </div>
            </dl>
          </details>
        </details-utils>
      </div>

      <div class="wrapper">
            <div class="grid-switcher" style="
            --gs-columns-large: 3;
            --gs-bp-medium: 40rem;
            --gs-gap: var(--space-l);
            ">
                <div class="icon-link">
                    <div class="icon-link__icon">
                        {% include "svg/agb.svg" %}
                    </div>
                    <h4 class="icon-link__text | center-text text-step-1">AGB</h4>
                    <a href="/agb-fur-referentenvertrag/">
                        <span class="sr-only">AGB</span>
                    </a>
                </div>
                <div class="icon-link">
                    <div class="icon-link__icon">
                        {% include "svg/buchung.svg" %}
                    </div>
                    <h4 class="icon-link__text | center-text text-step-1">Buchung</h4>
                    <a href="/kontakt/">
                        <span class="sr-only">Buchung</span>
                    </a>
                </div>
                <div class="icon-link">
                    <div class="icon-link__icon">
                        {% include "svg/presse.svg" %}
                    </div>
                    <h4 class="icon-link__text | center-text text-step-1">Presse</h4>
                    <a href="/media/#presse">
                        <span class="sr-only">Presse</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="stack-m center-text">
          <h2 class="text-step-5 uppercase" >Slides</h2>
          <form class="event-form" action="/event/" target="_blank">
            <div class="event-form__inputgroup">
              <label class="text-step-1 weight-bold" for="eventText">Slide Text:</label>
              <input class="text-step-1" type="text" id="eventText" name="eventText" value="Keynote | Prof. Dr. David Matusiewicz">
            </div>
            <input type="submit" value="Slide anzeigen" class="button">
          </form>
        </div>
    </div>
  </div>

