---
title: "Über David"
layout: "layouts/content.njk"
permalink: /ueber-david/
---

{% set fields = ctfl.pageUeberDavid.fields %}
<div class="section">
  <div class="wrapper | stack-3xl-4xl">
    <div class="gradient-line-vertical center-text">
      <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">{{ fields.pageTitle }}</h1>
    </div>

    <div>
      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_D_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">{{ fields.dHeadline }}</h2>
          <p class="text-step-0 spaced-out opaque">
            {{ fields.dBodycopy }}
          </p>
          {% if fields.dLink and fields.dLinktext %}
            <a href="{{ fields.dLink }}" class="button">{{ fields.dLinktext }}</a>
          {% endif %}
        </div>
      </div>

      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_X_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">{{ fields.xHeadline }}</h2>
          <p class="text-step-0 spaced-out opaque">
            {{ fields.xBodycopy }}
          </p>
          {% if fields.xLink and fields.xLinktext %}
            <a href="{{ fields.xLink }}" class="button">{{ fields.xLinktext }}</a>
          {% endif %}
        </div>
      </div>

      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_M_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">{{ fields.mHeadline }}</h2>
          <p class="text-step-0 spaced-out opaque">
            {{ fields.mBodycopy }}
          </p>
          {% if fields.mLink and fields.mLinktext %}
            <a href="{{ fields.mLink }}" class="button">{{ fields.mLinktext }}</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="stack-2xl-3xl">
      <h2 class="text-step-5 uppercase">Vita</h2>
      <details-utils class="stack-2xl-3xl" close-esc animate>

        {% for section in ctfl.pageUeberDavid.fields.vitaSections %}
          {% if section.fields.vitaSection %}
            <details class="acc-list">
              <summary class="text-step-2 leading-flat">{{ section.fields.sectionTitle }}</summary>
              <dl class="bg-blue-600 text-step-0">

                {% for sectionItem in section.fields.vitaSection %}

                  <div class="acc-list__item">
                    {% if sectionItem.fields.periodStart %}
                      <dt>{{ sectionItem.fields.periodStart | readableDate({month: "numeric", year: "numeric"}) }}
                        {% if sectionItem.fields.periodEnd %}
                       - {{ sectionItem.fields.periodEnd | readableDate({month: "numeric", year: "numeric"}) }}</dt>
                      {% endif %}

                    {% elif not sectionItem.fields.periodStart %}

                      <dt>{{ sectionItem.fields.title }}</dt>

                    {% endif %}
                    <dd>{{ sectionItem.fields.description }}</dd>
                  </div>

                {% endfor %}

              </dl>
            </details>

          {% endif %}

        {% endfor %}

        <div class="wrapper">
          <div class="grid-switcher" style="
            --gs-columns-medium: 3;
              --gs-columns-large: 3;
              --gs-bp-medium: 39rem;
              --gs-gap: var(--space-l);
            ">
            <a href="/agb-fur-referentenvertrag/" class="icon-link">
              <span class="icon-link__icon">
                {% include "svg/agb.svg" %}
              </span>
              <span class="icon-link__text | center-text text-step-1">AGB</span>
            </a>
            <a href="/kontakt/" class="icon-link">
              <span class="icon-link__icon">
                {% include "svg/buchung.svg" %}
              </span>
              <span class="icon-link__text | center-text text-step-1">Buchung</span>
            </a>
            <a href="/media/#presse" class="icon-link">
              <span class="icon-link__icon">
                {% include "svg/presse.svg" %}
              </span>
              <span class="icon-link__text | center-text text-step-1">Presse</span>
            </a>
          </div>
        </div>

        <div class="stack-m center-text">
          <h2 class="text-step-5 uppercase" >Slides</h2>
          <form class="event-form" action="/slides/" target="_blank">
            <div class="event-form__inputgroup">
              <label class="text-step-1 weight-bold" for="eventText">Slide Text:</label>
              <input class="text-step-1" type="text" id="eventText" name="eventText" value="Keynote | Prof. Dr. David Matusiewicz">
            </div>
            <input type="submit" value="Slide anzeigen" class="button">
          </form>
        </div>
      </div>
    </div>