---
title: "Über David"
layout: "layouts/home.njk"
permalink: /ueber-david/
---

<div class="section" style="padding-block: var(--space-3xl);">
  <div class="wrapper | stack-3xl-4xl">
    <div class="gradient-line-vertical center-text">
      <h1 class="text-step-5 color-white cxt uppercase center-text leading-flat">Über David</h1>
    </div>

    <div>
      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_D_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">David X Matusiewicz</h2>
          <p class="text-step-0 spaced-out opaque">
            Prof. Dr. David Matusiewicz verfügt jeweils über jahrelange Erfahrung in einer Gesetzlichen Krankenversicherung als auch am Lehrstuhl für Medizin-management an der Universität Duisburg-Essen und hat dort mit Big Data (Routinedaten) geforscht. David ist ausgewiesener Experte, Gründer, Investor, Herausgeber, Autor, Keynote Speaker und Moderator im Gesundheitswesen.
          </p>
          <a href="mailto:{{ site.authorEmail }}" class="button">Buchen</a>
        </div>
      </div>

      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_X_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">X Keynote Speaker</h2>
          <p class="text-step-0 spaced-out opaque">
          David ist einer der renommiertesten Keynote Speaker im Kontext der Digitalen Transformation. Seine Themenschwerpunkte sind Digitale Gesundheit, Digitale Medizin, Digitale Arbeit und Digitale Wirtschaft. Mit über 15 Jahren auf der Bühne bei kleinen und Großveranstaltung und dem Erfahrungsmix aus Wissenschaft und Praxis. Sein Stil ist das Edutainment bzw. Sciencetainment mit einer hohen Interaktion der Zuhörer.
          </p>
          <a href="mailto:{{ site.authorEmail }}" class="button">Buchen</a>
        </div>
      </div>

      <div class="image-text-teaser">
        <div class="image">
          <img src="/images/DXM_M_Visual.png">
        </div>
        <div class="stack-s content">
          <h2 class="text-step-5 uppercase">X Moderator</h2>
          <p class="text-step-0 spaced-out opaque">
          David wurde von der TU Kaiserslautern als „die Moderationsmaschine“ betitelt. Er hat in seiner Laufbahn Eröffnungen von Kongressen, Talkrunden mit dem amtierenden Bundesgesundheitsminister und internationale Veranstaltungen im In- und Ausland moderiert. Bei seiner Moderation kann man sicher sein: die zeit wird auf die Sekunde eingehalten – von allen.
          </p>
          <a href="mailto:{{ site.authorEmail }}" class="button">Buchen</a>
        </div>
      </div>
    </div>

    <div class="stack-2xl-3xl">
      <h2 class="text-step-5 uppercase">Vita</h2>
      <details-utils class="stack-2xl-3xl" close-esc animate>

        {% for section in ctfl.pageUeberDavid.fields.sections %}

          {% if section.fields.vitaSection %}

            <details class="acc-list">
              <summary class="text-step-2 leading-flat">{{ section.fields.sectionTitle }}</summary>
              <dl class="bg-blue-600 text-step-0">

                {% for sectionItem in section.fields.vitaSection %}

                  <div class="acc-list__item">
                    {% if sectionItem.fields.periodStart %}
                      <dt>{{ sectionItem.fields.periodStart | readableDate({month: "numeric", year: "numeric"}) }}

                        {% if sectionItem.fields.periodEnd %}

                       – {{ sectionItem.fields.periodEnd | readableDate({month: "numeric", year: "numeric"}) }}</dt>

                      {% endif %}

                    {% elif not sectionItem.fields.periodStart %}

                      <dt>{{ sectionItem.fields.title }}</dt>

                    {% endif %}
                    <dd>{{ sectionItem.fields.description }}</dd>
                  </div>

                {% endfor %}

              </dl>
            </details>

          {% endif %}

        {% endfor %}

        <div class="wrapper">
          <div class="grid-switcher" style="
            --gs-columns-medium: 3;
              --gs-columns-large: 3;
              --gs-bp-medium: 39rem;
              --gs-gap: var(--space-l);
            ">
            <a href="/agb-fur-referentenvertrag/" class="icon-link">
              <span class="icon-link__icon">
                {% include "svg/agb.svg" %}
              </span>
              <span class="icon-link__text | center-text text-step-1">AGB</span>
            </a>
            <a href="/kontakt/" class="icon-link">
              <span class="icon-link__icon">
                {% include "svg/buchung.svg" %}
              </span>
              <span class="icon-link__text | center-text text-step-1">Buchung</span>
            </a>
            <a href="/media/#presse" class="icon-link">
              <span class="icon-link__icon">
                {% include "svg/presse.svg" %}
              </span>
              <span class="icon-link__text | center-text text-step-1">Presse</span>
            </a>
          </div>
        </div>

        <div class="stack-m center-text">
          <h2 class="text-step-5 uppercase" >Slides</h2>
          <form class="event-form" action="/slides/" target="_blank">
            <div class="event-form__inputgroup">
              <label class="text-step-1 weight-bold" for="eventText">Slide Text:</label>
              <input class="text-step-1" type="text" id="eventText" name="eventText" value="Keynote | Prof. Dr. David Matusiewicz">
            </div>
            <input type="submit" value="Slide anzeigen" class="button">
          </form>
        </div>
      </div>
    </div>