---
title: "Vorträge und Moderation"
layout: "layouts/home.njk"
permalink: /vortraege-moderation/
---

<div class="section" style="padding-block: var(--space-3xl);">
    <div class="wrapper | stack-3xl-4xl">
      <div class="gradient-line-vertical center-text">
        <h1 class="text-step-5 color-white cxt uppercase center-text">Publikationen</h1>
      </div>

      <div class="grid-switcher" style="
        --gs-bp-medium: 40rem;
        --gs-columns-large: 2;
        --gs-columns-medium: 2;
        --gs-columns-small: 1;
        --gs-gap: var(--space-l);
        ">
        <details class="acc-list" open>
          <summary class="uppercase text-step-2 leading-flat">Moderation</summary>
          <ul class="bg-blue-200 color-black" role="list">
            <li>Eins</li>
            <li>Zwei</li>
            <li>Drei</li>
            <li>Vier</li>
          </ul>
        </details>

        <details class="acc-list">
          <summary class="uppercase text-step-2 leading-flat">Vortragsthemen</summary>
          <ul class="bg-blue-200 color-black" role="list">
            <li>Digitale Transformation des Gesundheitswesens</li>
            <li>Plattformen im Gesundheitswesen</li>
            <li>Digitale Geschäftsmodelle im Gesundheitswesen</li>
            <li>Gesunde Arbeit | Betriebliche Gesundheit</li>
            <li>Digitale Pflege</li>
          </ul>
        </details>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="wrapper | stack-l">
      <h2 class="text-step-4 color-red uppercase">Referenzen</h2>
      <div class="stack-m">
        <h3 class="text-step-3 color-blue-200 uppercase weight-regular">Auftraggeber</h3>
        <ul class="grid-switcher" role="list" style="
          --gs-columns-large: 3;
          --gs-columns-medium: 2;
          --gs-columns-small: 1;
          ">
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
        </ul>
      </div>

      <div class="stack-m">
        <h3 class="text-step-3 color-blue-200 uppercase">Nationale Kongresse</h3>
        <ul class="grid-switcher" role="list" style="
          --gs-columns-large: 3;
          --gs-columns-medium: 2;
          --gs-columns-small: 1;
          ">
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
          <li><img src="https://place.dog/400/300" alt="Ein süßer Hund"></li>
        </ul>
      </div>
    </div>
  </div>
</div>