---
title: "Vorträge und Moderation"
layout: "layouts/home.njk"
permalink: /vortraege-moderation/
---

<div class="stack-3xl ">
  <div class="section | wrapper stack-3xl">
    <h1 class="uppercase text-step-4 center-text color-red" style="margin-block-start: var(--space-3xl);">Vorträge und Moderation</h1>

    <div class="grid-switcher" style=" 
        --gs-columns-large: 2;
        --gs-gap: var(--space-l);
        --gs-bp-medium: 32rem;
        ">
      <details class="acc-list">
        <summary class="uppercase leading-flat">Moderation</summary>
        <ul role="list">
          <li>Eins</li>
          <li>Zwei</li>
          <li>Drei</li>
          <li>Vier</li>
          <li>Fünf</li>
        </ul>
      </details>

      <details class="acc-list" open>
        <summary class="uppercase leading-flat">Vortragsthemen</summary>
        <ul role="list">
          <li>Digitale Transformation des Gesundheitswesens</li>
          <li>Plattformen im Gesundheitswesen</li>
          <li>Digitale Geschäftsmodelle im Gesundheitswesen</li>
          <li>Gesunde Arbeit | Betriebliche Gesundheit</li>
          <li>Digitale Pflege</li>
        </ul>
      </details>
    </div>
  </div>

  <div class="wrapper stack-2xl">
    <h2 class="center-text text-step-4 color-red uppercase" >Referenzen</h2>

    <div class="stack-m">
      <h3 class="uppercase border-bottom weight-regular color-blue-200 text-step-1">Arbeitgeber</h3>
      <ul role="list" class="grid-switcher" style="
            --_gs-columns-small: 1;
            --_gs-columns-medium: 2;
            --_gs-columns-large: 3;
            ">
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
      </ul>
    </div>

    <div class="stack-m">
      <h3 class="uppercase border-bottom weight-regular color-blue-200 text-step-1">Partner</h3>
      <ul role="list" class="grid-switcher" style="
            --_gs-columns-small: 1;
            --_gs-columns-medium: 2;
            --_gs-columns-large: 3;
            ">
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
        <li><img src="https://www.fillmurray.com/500/300" alt=""/></li>
      </ul>
    </div>
  </div>

  <div class="wrapper center-text stack-s" style="--wrapper-max: 30rem;">
    <h2 class="text-step-4 uppercase color-red">Zusammenarbeit</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eum recusandae fugiat necessitatibus facere consequuntur, deleniti nobis ea, blanditiis commodi facilis placeat eos maxime nulla, error quisquam iure atque numquam.</p>
    <a class="button color-red" href="#">Btn ich bin</a>
  </div>

  <div class="section grid-switcher wrapper" style="
        --_gs-columns-large: 2;
        --gs-gap: var(--space-l);
        --gs-bp-medium: 40rem;
        ">
    <div class="stack-s border" style="
      padding: var(--space-m); 
      --border-color: var(--color-red)
      ">
      <h2 class="text-step-3 uppercase color-red">Speaker</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eum recusandae fugiat necessitatibus facere consequuntur, deleniti nobis ea, blanditiis commodi facilis placeat eos maxime nulla, error quisquam iure atque numquam.</p>
      <a class="button color-red" href="#">Btn ich bin</a>
    </div>

    <div class="stack-s border" style="
        padding: var(--space-m);
        --border-color: var(--color-blue-200)
        ">
      <h2 class="text-step-3 uppercase color-blue-200">Speaker</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est eum recusandae fugiat necessitatibus facere consequuntur, deleniti nobis ea, blanditiis commodi facilis placeat eos maxime nulla, error quisquam iure atque numquam.</p>
      <a class="button color-blue-200" href="#">Btn ich bin</a>
    </div>
  </div>

  <div class="wrapper center-text stack-m color-red" style="--wrapper-max: 70rem;">
    <h2 class="text-step-4 uppercase">Live Mode</h2>
    <form class="event-form">
      <div class="event-form__inputgroup">
        <label class="" for="eventText">Slide Text</label>
        <input type="text" name="eventText" value="Keynote | Prof. Dr. David Matusiewicz">
      </div>
      <input class="uppercase weight-bold" type="submit" value="Slide anzeigen">
    </form>
  </div>

  <div></div>
</div>