/**
  * SIZE SCALE
  * This is a Perfect Fourth scale that powers all the utilities that
  * it is relevant for (font-size, margin, padding). All items are
  * calcuated off the base size, so change that and cascade across
  * your whole project.
  */

/* https://utopia.fyi/type/calculator?c=320,16,1.2,1140,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
$gorko-size-scale: (
  "step-0": clamp(1rem, calc(0.89rem + 0.46vw), 1.25rem),
  "step-1": clamp(1.2rem, calc(1rem + 0.85vw), 1.67rem),
  "step-2": clamp(1.44rem, calc(1.1rem + 1.43vw), 2.22rem),
  "step-3": clamp(1.73rem, calc(1.2rem + 2.26vw), 2.96rem),
  "step-4": clamp(2.07rem, calc(1.27rem + 3.43vw), 3.95rem),
  "step-5": clamp(2.49rem, calc(1.3rem + 5.08vw), 5.26rem),
);

/* https://utopia.fyi/space/calculator?c=320,16,1.2,1140,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|10|20,*/
$space-size-scale: (
  // T-Shirt Sizes
  "3xs": clamp(0.25rem, calc(0.22rem + 0.11vw), 0.31rem),
  "2xs": clamp(0.5rem, calc(0.45rem + 0.23vw), 0.63rem),
  "xs": clamp(0.75rem, calc(0.67rem + 0.34vw), 0.94rem),
  "s": clamp(1rem, calc(0.89rem + 0.46vw), 1.25rem),
  "m": clamp(1.5rem, calc(1.34rem + 0.69vw), 1.88rem),
  "l": clamp(2rem, calc(1.79rem + 0.92vw), 2.5rem),
  "xl": clamp(4rem, calc(3.57rem + 1.83vw), 5rem),
  "2xl": clamp(6rem, calc(5.36rem + 2.75vw), 7.5rem),
  "3xl": clamp(8rem, calc(7.14rem + 3.67vw), 10rem),
  "4xl": clamp(10rem, calc(8.93rem + 4.58vw), 12.5rem),
  "5xl": clamp(20rem, calc(18.05rem + 9.76vw), 25rem),
  // One-up pairs
  "3xs-2xs": clamp(0.25rem, calc(0.09rem + 0.69vw), 0.63rem),
  "2xs-xs": clamp(0.5rem, calc(0.31rem + 0.8vw), 0.94rem),
  "xs-s": clamp(0.75rem, calc(0.54rem + 0.92vw), 1.25rem),
  "s-m": clamp(1rem, calc(0.62rem + 1.6vw), 1.88rem),
  "m-l": clamp(1.5rem, calc(1.07rem + 1.83vw), 2.5rem),
  "l-xl": clamp(2rem, calc(0.71rem + 5.5vw), 5rem),
  "xl-2xl": clamp(4rem, calc(2.5rem + 6.41vw), 7.5rem),
  "2xl-3xl": clamp(6rem, calc(4.28rem + 7.33vw), 10rem),
  "3xl-4xl": clamp(8rem, calc(6.07rem + 8.25vw), 12.5rem),
  "4xl-5xl": clamp(10rem, calc(4.15rem + 29.27vw), 25rem)
);

/**
  * COLORS
  * Colors are shared between backgrounds and text by default.
  * You can also use them to power borders, fills or shadows, for example.
  */
$gorko-colors: (
  "white": #fff,
  "black": #0a101c,
  "blue-600": #0092ff,
  "blue-700": #291ad8,
  "blue-800": #002298,
  "pink": #ff006a,
  "gradient": linear-gradient(var(--color-pink), var(--blue-700)),
);

/**
  * CORE CONFIG
  * This powers everything from utility class generation to breakpoints
  * to enabling/disabling pre-built components/utilities.
  */

$gorko-config: (
  "css-vars": (
    "color": $gorko-colors,
    "space": $space-size-scale,
    "text": $gorko-size-scale,
  ),
  "bg": (
    "items": "color",
    "css-vars": true,
    "output": "standard",
    "property": "background-color",
  ),
  "color": (
    "items": "color",
    "css-vars": true,
    "output": "standard",
    "property": "color",
  ),
  "font": (
    "items": (
      "base": '"Montserrat", sans-serif',
    ),
    "output": "standard",
    "property": "font-family",
  ),
  "leading": (
    "items": (
      "loose": 1.7,
      "tight": 1.25,
      "flat": 1.1,
    ),
    "output": "standard",
    "property": "line-height",
  ),
  "text": (
    "items": $gorko-size-scale,
    "output": "standard",
    "property": "font-size",
  ),
  "weight": (
    "items": (
      "regular": 400,
      "medium": 500,
      "bold": 700,
    ),
    "output": "standard",
    "property": "font-weight",
  ),
  "breakpoints": (
    /* 680px  */ "md": "(min-width: 42.5em)",
    /* 1024px */ "lg": "(min-width: 64em)",
    /* 1440px */ "xl": "(min-width: 90em)",
  ),
);
