// First up: config and functions
@import "config";
// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";
@import "reset";

body {
  @include apply-utility("font", "base");
  background: var(--color-black);
  color: var(--color-white);
}

h1,
h2,
h3,
h4 {
  @include apply-utility("leading", "flat");
  @include apply-utility("weight", "medium");
}

#main-content {
  margin-block-start: var(--space-xl-2xl);
}

*:focus-visible {
  outline: 2px dashed #ff006a;
  outline-offset: 4px;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: var(--color-black);

  // We set this as an RGBA because that’s how you get a solid color, by using 0.99
  // alpha value. Browsers are wild.
  background: rgba(get-color("pink"), 0.99);
}

//Utilities
@import "utilities/center-text";
@import "utilities/logo-size";
@import "utilities/gradient-line-vertical";
@import "utilities/gradient-line-horizontal";
@import "utilities/opaque";
@import "utilities/pink-img-overlay";
@import "utilities/sr-only";
@import "utilities/spaced-out";
@import "utilities/text-highlight";
@import "utilities/uppercase";

//Layout
@import "layout/cluster";
@import "layout/grid-switcher";
@import "layout/stack";
@import "layout/wrapper";
@import "layout/sidebar";

//Blocks
@import "blocks/acc-list";
@import "blocks/button";
@import "blocks/contact-info";
@import "blocks/download-grid";
@import "blocks/dxm-group-visual";
@import "blocks/event-form";
@import "blocks/filter";
@import "blocks/headline-svg";
@import "blocks/icon-link";
@import "blocks/image-text-teaser";
@import "blocks/keywords";
@import "blocks/logo-grid";
@import "blocks/logo-kit";
@import "blocks/main-visual";
@import "blocks/media-tabs";
@import "blocks/nav";
@import "blocks/news-article";
@import "blocks/plain-html";
@import "blocks/press-list";
@import "blocks/publikationen";
@import "blocks/site-foot";
@import "blocks/site-head";
@import "blocks/slides";
@import "blocks/youtube";
