<div class="contact-person stack-m">
  <img alt="" src="/assets/images/contact-01.jpg" style="
                    width: 100%;
                    height: auto;
                ">
  <div class="content stack-2xs">
    <h3 class="text-step-2 weight-bold">Prof. Dr. David Matusiewicz</h3>
    <h4 class="text-step-1 weight-light">Gründer & CEO</h4>
  </div>
  <a href="#" class="button" style="text-transform: none;">LinkedIn</a>
</div>