<article class="publikationen__item {{ pubopen }} stack-s-m">

  <div class="publikationen__info">
      <div class="flip">
        <div class="publikationen__spine">
            <span class="weight-bold">Digitale Gesundheitsan-wendungen (DiGA)</span>
        </div>
        <div class="publikationen__cover">
          <img src="../images/cover-ph.jpg">
        </div>
      </div>

    <div class="publikationen__description stack-xs">
      <p>Innovative Events und Happenings von Closed-Shop-Events bis hin zu Kongressen im Gesundheitswesen. Unternehmens-
          Challenges und Sprints für besondere Fragestellungen. Für die Healthcare Branche und für andere Branchen.</p>
      <h4 class="weight-bold leading-loose">200 Pages <br> 22.12.2024</h4>
    </div>
  </div>
  
  <p class="text-step-0 leading-tight" style="position: relative">Digitale Gesundheitsan-wendungen (DiGA)</p>
  <a href="#" alt="Mehr zu Digitale Gesundheitsanwendungen (DIGA)" class="button button--small" style="position: relative">Details</a>
</article>