<article class="publikationen__item stack-s-m">
  <div class="publikationen__info">
      <div class="flip">
        <div class="publikationen__spine">
            <span class="weight-bold">{{ bookTitle }}</span>
        </div>
        <div class="publikationen__cover">
          <img src="{{ cover }}">
        </div>
      </div>

    <div class="publikationen__description stack-xs">
      <p class="step--1">Innovative Events und Happenings von Closed-Shop-Events bis hin zu Kongressen im Gesundheitswesen. Unternehmens-
          Challenges und Sprints für besondere Fragestellungen. Für die Healthcare Branche und für andere Branchen.</p>
      <h4 class="weight-bold leading-loose">200 Pages <br> 22.12.2024</h4>
    </div>
  </div>

  <p class="text-step-0 leading-tight" style="position: relative">{{ bookTitle }}</p>

  <div class="publikationen__actions">
    <div>
      <button aria-label="Mehr zu Digitale Gesundheitsanwendungen (DIGA)" class="publikationen__open-button">
        </button>
        <a class="button button--small details">Details</a>
    </div>
    <div>
      <button aria-label="Mehr zu Digitale Gesundheitsanwendungen (DIGA)" class="button button--small publikationen__close-button">Schließen</button>
      <a aria-label="" class="button button--small button--filled" href="#" target="_blank">Kaufen</a>
    </div>
  </div>
</article>