<div class="publikationen__item {{ pubopen }} stack-s-m">
  <img class="publikationen__cover" src="../images/cover-ph.jpg">
  <p class="text-step-0 leading-tight" style="position: relative">Digitale Gesundheitsan-wendungen (DiGA)</p>
  <a href="#" alt="Mehr zu Digitale Gesundheitsanwendungen (DIGA)" class="button button--small" style="position: relative">Details</a>

  <div class="publikationen__info stack-xs">
    <h3 class=" weight-bold">Avatare im Gesundheitswesen</h3>
    <p class="">Innovative Events und Happenings von Closed-Shop-Events bis hin zu Kongressen im Gesundheitswesen. Unternehmens-
      Challenges und Sprints für besondere Fragestellungen. Für die Healthcare Branche und für andere Branchen.</p>
    <h4 class="weight-bold leading-loose">200 Pages <br> 22.12.2024</h4>
  </div>
</div>