<footer id="footer">
  <div class="wrapper">
    <ul class="site-foot__social | cluster" role="list" style="--cluster-justification: center; --cluster-gap: var(--space-m);">
      <li>
        <a href="https://www.instagram.com/david_matusiewicz/?hl=de" target="blank">{% icon icon = "instagram" %}</a>
      </li>
      <li>
        <a href="https://www.youtube.com/@DavidMatusiewicz" target="blank">{% icon icon = "youtube" %}</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/dxm-group/?originalSubdomain=de" target="blank">{% icon icon = "linkedin-stroke" %}</a>
      </li>
      <li>
        <a href="mailto:Info@dxmg.de" target="blank">{% icon icon = "mail-stroke" %}</a>
      </li>
    </ul>

    <ul class="site-foot__nav uppercase text-step-1 cluster flex-center" role="list">
      <li>
        <a href="/impressum/" alt="impressum">Impressum</a>
      </li>
      <li>
        <a href="/datenschutz/" alt="datenschutz">Datenschutz</a>
      </li>
      <li>
        <a href="/media#presse" alt="datenschutz">Presse</a>
      </li>
    </ul>
  </div>
</footer>