<header class="site-head">

  <div class="wrapper">
    <nav class="main-nav" aria-label="Main">
      <ul class="main-nav__list | cluster" role="list" style="--cluster-gap: var(--space-s);">
        {% for item in navigation.items %}
        <li class="main-nav__list-item">
          <a class="main-nav__link" href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

</header>